<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas Gauthier-Pin | Web and Graphic Design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="description" content="Web and graphic designer based in Long Beach, CA" />

    <meta property="og:title" content="Nicolas Gauthier-Pin" />
    <meta property="og:url" content="https://nicolas.gauthier-pin.com" />
    <meta property="og:description" content="Web and graphic designer based in Long Beach, CA" />
    <meta property="og:image" content="img/social.jpg" />
  </head>
  <body>
    <main id="app">
      <h1>Nicolas Gauthier-Pin</h1>
      <transition name="load">
        <intro></intro>
      </transition>

      <transition name="section-open">
        <about-page v-if="isAboutOpen"></about-page>
      </transition>

      <transition name="social-fadein">
        <social v-if="isAboutOpen"></social>
      </transition>

      <transition name="home-fadein">
        <back-home v-if="isAboutOpen"></back-home>
      </transition>
      <img id="ngp" src="img/ngp.svg" alt="" aria-hidden="true">
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
