<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas Gauthier-Pin</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <main id="app">
      <section id="intro" v-if="!isAboutOpen">
        <img id="logo" src="img/ngp-logo.svg" alt="Nicolas Gauthier-Pin">
        <button v-on:click="toggleAbout" id="toggle-about" class="inset"><img src="img/info-with-circle.svg" alt="About"></button>
      </section>
      <section id="about" v-if="isAboutOpen">
        <p>I am a self-taught front-end web developer, with a background on graphic design.</p>
        <p>My schooling background is in Engineering. I was one of those kids who liked to disassemble things to see how they work. I still like to do it, but I quickly realized I didn’t want to make a career out of it. Still, my technical background comes in handy for the web part of web design. At some point all the visuals have to be transfered to code.</p>
        <p>I was born and raised in Argentina, and lived in London, Montréal, San Francisco, and now LA. I’ve also spent significant time in New York and Toronto. I am 100% bilingual in english and spanish, and I can speak beginner italian and just a tiny little bit of french.</p>
        <p>AM I UP TO<br>
        I am currently the Interactive Manager at Gunn | Jerkens, a marketing agency in Long Beach, CA, where we build websites and interactive experiences for real estate developers. Prior to that I freelanced for over 10 years, working with clients ranging from individuals to large corporations, in at least four different continents.</p>
        <p>On the side, I am active in the local Wordpress and developer community in Long Beach. I am one of the organizers of the Long Beach chapter of the Wordpress LA meetup, I was part of the organizing team of WordCamp Long Beach 2019 [link], and I am a regular attendant of the Code&&Coffee meetup [link to profile]. I'm also involved in the Long Beach Community Theater [link], lending a hand with everything web and whatever else is needed.</p>
          <button class="close" v-on:click="toggleAbout"><img src="img/circle-with-cross.svg" alt="Close"></button>
      </section>
      <img id="ngp" src="img/ngp.svg" alt="" aria-hidden="true">
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
