<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas Gauthier-Pin</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <main id="app">
      <transition name="load">
        <intro></intro>
      </transition>

      <transition name="section-open">
        <about-page v-if="isAboutOpen"></about-page>
      </transition>

      <transition name="social-fadein">
        <social v-if="isAboutOpen"></social>
      </transition>

      <transition name="home-fadein">
        <back-home v-if="isAboutOpen"></back-home>
      </transition>
      <img id="ngp" src="img/ngp.svg" alt="" aria-hidden="true">
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
